*{
    padding: 0;
    margin: 0;
}
.juice{
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: #152a51;
    height: 3vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 30px 20px;
    padding-top: 30px;
    z-index: 10;
}

.logo{
    font-family: 'Redressed', cursive;
    text-decoration: none;
    color: #ffffff;
    position: relative;
    top: -20px;
    font-size: 5vh;
    width: 20vw;
    
}
.logo:hover{
    color: #03fef7;
    transition: 2s;
}
.navega{
    display: flex;
    justify-content: center;
    align-items: center;
}

.juice ul{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.juice ul li{
    list-style: none;
}

.juice ul li a{
    position: relative;
    font-family: 'Sue Ellen Francisco', cursive;
    font-size: 4vh;
    margin: 0 15px;
    text-decoration:wavy;
    color: #ffffff;
    letter-spacing: 2px;
    font-weight: 600;
    
}
.juice nav ul li a:hover{
    color: #418e8e;
    transition: 0.7s;
}


main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #111111;
}

form {
    margin: 0;
    padding: 0;
    width: 50vw;
    height: 50vh;
    background-color: #002c58;
    padding: 20px;
    border-radius: 25px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    color: white;
    font-size: 2.5vh;
    font-family: "Itim",cursive;
    display: block;
    margin-top: 20px;
}

#forumName{
    width: 99%;
    height: 4vh;
    margin-bottom: 1vw;
    color: white;
    border: 1px solid #636363;
    background-color: #131925;
    border-radius: 25px;
    margin-top: 1vw;
}
#forumQuestion{
    width: 99%;
    height: 10vh;
    margin-bottom: 2vw;
    margin-top: 1vw;
    color: white;
    border: 1px solid #636363;
    background-color: #131925;
    border-radius: 25px;
}

button {
    margin-left: 20vw;
    padding: 10px 20px;
    background-color: #002042;
    color: #fff;
    font-family: "Itim";
    font-size: 2vh;
    border: 1px solid whitesmoke;
    border-radius: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #0366d1;
    transition: 2s;
}
@media screen and (max-width:430px) {
    form{
        width: 70vw;
    }
    .logo{
        left: -10vw;
    }
}